@charset "UTF-8";

section#cont-img {
	width: 1000px;
	margin: auto; /*centralizado*/
}


iframe#spec {
	width: 400px;
	height: 300px;
	border: none;
	overflow: hidden; /*nao mostra oq ta em baixo*/
}

